<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Driver</title>
</head>
<body>
<th:block th:include="/fragments/menu"></th:block>

<h1>Create New Driver</h1>

<form th:action="@{/create-driver}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <br>

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" required>
    <br>

    <label for="numTel">Phone Number:</label>
    <input type="text" id="numTel" name="numTel" required>
    <br>

    <label for="experience">Experience (years):</label>
    <input type="number" id="experience" name="experience" required>
    <br>

    <label for="isFree">Is Free:</label>
    <input type="checkbox" id="isFree" name="isFree" checked>
    <br>

    <button type="submit">Create Driver</button>
</form>
</body>
</html>