<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Drivers</title>
</head>
<body>
<th:block th:include="/fragments/menu"></th:block>

<h1>All Drivers</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone number</th>
        <th>Experience</th>
        <th>Total sum</th>
        <th>Free</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="driver : ${drivers}">
        <td th:text="${driver.id}"></td>
        <td th:text="${driver.name}"></td>
        <td th:text="${driver.surname}"></td>
        <td th:text="${driver.numTel}"></td>
        <td th:text="${driver.experience}"></td>
        <td th:text="${driver.totalSum}"></td>
        <td th:text="${driver.isFree ? 'Yes' : 'No'}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>